/* bonus + tablet */
@media screen and (max-width: 1160px) {
    .container {
        width: 100%;
    }
}


/* mobile */
@media screen and (max-width: 480px) {
    .container > .row {
        display: flex;
        flex-wrap: wrap;
    }

    .row > .col {
        flex-basis: 100%;
        margin-bottom: 70px;
    }

    .steps,
    .why-us {
        margin-bottom: 0;
    }

    .why-us {
        background-color: #222;
        padding-top: 48px;
    }


}
